@import "mixins";

body {
  
  &.sixmk {

    > section.page-container {
      
      &.quiz.furniture {
        min-height: 420px;

        > div {
          font-family: sans-serif;
          margin-top: $header-height;
          padding: 20px 0 0 20px;

          > h1 {
            color: $font-brand;
            line-height: 90%;
            font-family: serif;
            font-size: 22px;
            margin: 0;
            padding: 0;
          }

          > p {
            color: $font-gray;
            font-size: 16px;
            font-style: oblique;
            margin: 0;
            padding: 0;
          }

          > form {
            margin: 20px 0;

            > ul {

              > li {
                font-size: 12px;
                padding: 0 0 20px 4px;

                > section {

                  > header {
                    color: $font-black;
                    font-size: 14px;
                    font-style: bold;
                  }

                  > ul {

                    > li {

                      > label {
                        cursor: pointer;

                        > input {
                          cursor: pointer;
                          padding-right: 12px;
                        }
                      }
                    }
                  }
                }
              }
            }

            > input {
              background-color: $font-brand;
              border: none;
              border-radius: 4px;
              color: $font-white;
              cursor: pointer;
              font-size: 16px;
              width: 100px;
            }
          }

          > section {
            display: none;

            > header {
              color: $font-black;
              font-size: 18px;
              margin: 40px 0;
            }

            > ul {
              margin: 40px 0;
            }
          }
        }
      }
    }

    // getting tiny with it

    @media (max-width: 630px) {

      > section.page-container.quiz.furniture > div {

        
      }
    }
  }
}
