@import "mixins";

body {
  
  &.sixmk {

    > section.page-container {
      
      &.invitations.index {

        > section {
          background-color: $background-primary;
          margin: $header-height auto 0;
          width: 800px;

          @media (max-width: 799px) { padding: 0 16px; width: calc(100% - 32px); }
          
          > header {
            text-align: center;

            > h1 {
              font-size: $big-ass-title;
              font-weight: 500;
              line-height: 28px;
              padding: 40px 0 16px;
              @include font-brand;
            }

            > p {
              font-size: $normal;
              font-weight: 300;
              line-height: 24px;
              @include font-copy;
            }
          }

          > ul {
            border: 1px solid $background-black;
            margin: 40px auto;
            padding: 40px;

            > li {
              padding-bottom: 40px;

              > div {
                color: $font-black;
                font-size: $large;
                font-weight: 500;
                line-height: 24px;
                @include font-brand;
              }

              > section {

                > header,
                > footer {
                  display: inline-block;
                  font-weight: 500;
                  margin-right: -4px;
                  vertical-align: top;
                  @include font-brand;
                }

                > header {
                  color: $font-black;
                  font-size: $big-ass-title;
                  padding-right: 20px;
                  width: 20px;
                }

                > footer {
                  width: calc(100% - 40px);

                  > section {

                    > header {
                      color: $font-black;
                      font-size: $larger;
                      font-weight: 500;
                      line-height: 28px;
                      @include font-brand;
                    }

                    > footer {
                      color: $font-gray;
                      font-size: $small;
                      font-style: italic;
                      font-weight: 300;
                      line-height: 24px;
                      @include font-copy;
                    }

                    > div {
                      color: $font-black;
                      font-size: $normal;
                      font-weight: 300;
                      line-height: 24px;
                      @include font-copy;
                    }
                  }
                }
              }
            }
          }

          > footer {
            padding-bottom: 40px;
            text-align: center;
            @include font-brand;

            > a {
              color: $font-brand;
              text-decoration: underline;
              transition: all 0.2s;

              &:hover {
                font-size: $large;
              }
            }
          }
        }
      }
    }
  }
}
