$background-primary: #FFFFFF;   // actually white
$background-secondary: #F8F8F8; // grayish
$background-tertiary: #6a6760;  // blackish
$background-black: #000000;     // actually black

$border-black: #111111;         // almost black
$border-brand: #DC0062;         // hot pink for hotness
$border-white: #FEFEFE;         // off-white

$font-black: #333333;           // readable black
$font-brand: #DC0062;           // hot pink for hotness
$font-link: #3877CB;
$font-white: #FEFEFE;           // off-white
