$background-primary: #ffffff; // actually white
$background-secondary: #f8f8f8; // grayish
$background-tertiary: #424242; // blackish
$background-black: #000000; // actually black

$border-brand: #dc0062; // hot pink for hotness
$border-gray: #999999; // gray leaning white
$border-white: #fefefe; // off-white

$font-black: #333333; // readable black
$font-gray: #6a6760; // dark gray
$font-brand: #dc0062; // hot pink for hotness
$font-link: #6a6760; // dark gray
$font-link-active: #777777; // lucky number gray
$font-white: #fefefe; // off-white

$sacrotees-brand: rgb(102, 51, 153);
