$background-primary: #FFFFFF;   // actually white
$background-secondary: #F8F8F8; // grayish
$background-tertiary: #424242;  // blackish
$background-black: #000000;     // actually black

$border-brand: #DC0062;         // hot pink for hotness
$border-gray: #999999;          // gray leaning white
$border-white: #FEFEFE;         // off-white

$font-black: #333333;           // readable black
$font-brand: #DC0062;           // hot pink for hotness
$font-link: #6a6760;            // dark gray
$font-link-active: #777777;     // lucky number gray
$font-white: #FEFEFE;           // off-white
