@import "mixins";

body {
  
  &.sixmk {

    > section.page-container {
      
      &.welcome.contact {
        min-height: 500px;

        > div {
          margin-top: $header-height;

          > ul {
            padding: 80px 42px 42px;

            > li {
              display: inline-block;
              margin-right: -4px;
              vertical-align: top;
              width: 50%;

              > section {
                color: $font-gray;
                padding: 0 12px;

                > header {
                  color: $font-brand;
                  font-size: $largest;
                  padding-bottom: 12px;

                  @include font-brand;
                }

                > footer {
                  color: $font-black;
                  font-size: $small;
                  font-weight: bold;
                  overflow: hidden;
                  padding: 8px 0 12px;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }

          > section {
            padding-bottom: 20px;
            text-align: center;

            > a {
              color: $font-brand;
              text-decoration: underline;
              transition: all 0.2s;

              &:hover {
                font-size: $large;
              }
            }
          }
        }
      }
    }

    // getting tiny with it

    @media (max-width: 630px) {

      > section.page-container.welcome.contact > div {

        > ul > li {
          display: block;
          padding-bottom: 42px;
          width: 100%;

          &:last-child {
            padding-bottom: 0;
          }
        }

        > section {
          padding-bottom: 42px;
        }
      }
    }
  }
}
