@import "mixins";

body {
  
  &.sixmk {

    > section.page-container {
      
      &.welcome.index {
        position: relative;

        > ul {
          background-color: $background-primary;
          height: 380px;
          margin: 0 auto;
          overflow: hidden;
          position: fixed;
          top: $header-height;
          z-index: $z-negative;

          @include site-width;

          > li {
            display: inline-block;
            vertical-align: top;
          }
        }

        > section {
          border-top: 1px solid $border-brand;
          margin-top: 400px; // must match height on ul up there plus any additional buffer
          width: 100%;

          > section {
            padding: 20px;
            min-height: 420px;
            width: 100%;
            width: calc(100% - 40px);

            &.about {
              background-color: $background-primary;
            }

            &.testimonials {
              background-color: $background-secondary;
            }

            &.portfolio {
              background-color: $background-tertiary;
            }

            &.schedule {
              background-color: $background-black;
            }
          }
        }
      }
    }
  }
}
