@import "mixins";

body {
  
  &.sixmk {

    > section.page-container {
      
      &.welcome.services {
        min-height: 420px;

        a {
          color: $font-brand;
        }

        > div {
          margin-top: $header-height;

          > section {
            background-color: $background-primary;

            @include site-width;

            > header {
              color: $font-brand;
              font-size: $big-ass-title;
              padding: 36px 0 12px 14px;
            }

            > section {
              background-color: $background-primary;
              cursor: pointer;
              padding: 20px;
              width: 100%;
              width: calc(100% - 40px);

              &.custom-site,
              &.online-ads,
              &.weddings-and-events {

                > footer {
                  text-align: right;
                }
              }

              &.shopify-management,
              &.custom-site {
                cursor: default;
              }

              > header {
                font-size: $really-too-big;
                line-height: 80%;
                text-align: center;
                width: 20%;

                > span {
                  display: inline-block;

                  &.small {
                    font-size: $big-ass-title;
                    line-height: 70%;
                  }

                  &.smaller {
                    font-size: $largest;
                    line-height: 60%;
                  }

                  &.smallest {
                    font-size: $larger;
                    line-height: 50%;
                  }
                }

                > a {
                  color: $font-black;
                }
              }

              > footer {
                color: $font-black;
                width: 78%;
              }

              > header,
              > footer {
                display: inline-block;
                margin-bottom: 16px;
                vertical-align: middle;

                @media (max-width: 420px) {
                  display: block;
                }
              }

              > ul {
                background-color: $background-secondary;
                max-height: 0;
                overflow: hidden;
                width: 100%;

                -webkit-transition: max-height 0.8s;
                -moz-transition: max-height 0.8s;
                transition: max-height 0.8s;

                &.expanded {
                  max-height: 3000px;
                }

                > li {
                  margin-right: -4px;
                  padding: 8px;
                  text-align: center;
                  vertical-align: top;
                  width: 100%;
                }
              }

              > div {
                background-color: $border-brand;
                border: 1px solid $border-brand;
                border-radius: 2px;
                height: 5px;
                margin-top: 10px;
                width: 100%;
              }
            }
            
            > footer {
              margin: 12px 0;
              padding: 20px;
              text-align: center;

              > a {
                color: $font-brand;
                text-decoration: underline;
                transition: all 0.2s;

                &:hover {
                  font-size: $large;
                }
              }
            }
          }
        }
      }
    }
  }
}
