@import "mixins";

body {
  
  &.sixmk {

    > div.site-footer {
      background-color: $background-tertiary;
      border-top: 1px solid $border-gray;
      color: $font-white;
      font-size: $small;
      min-height: 100px;
      padding: 42px 0;
      text-align: center;
      width: 100%;
      z-index: $z-highest;

      a {
        color: $font-white;
      }

      > ul {
        margin: 0 auto;
        padding-bottom: 12px;

        > li {
          border-right: 1px solid $border-brand;
          display: inline-block;
          margin: 2px 0;
          padding: 0 8px;

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    // at the break-point yeah

    @media (max-width: 630px) {

      > div.site-footer > ul {
        padding: 12px 0;

        > li {
          border-right: none;
          display: block;
          margin: 12px 0;
        }
      }
    }
  }
}
