@import "mixins";

body {
  
  &.sixmk {

    > div.site-header {
      background-color: $background-primary;
      height: $header-height;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: $z-highest;

      @include header-shadow;

      > section {
        height: 100%;
        margin: 0 auto;

        @include site-width;

        > * {
          display: inline-block;
          height: 100%;
          padding-top: 16px;
          vertical-align: middle;
        }

        > header {
          font-size: $big-ass-title;
          padding-left: 16px;
          width: 20%;

          @media (max-width: 64em) { font-size: $large; }

          > a {
            color: $font-black;
            text-decoration: none;

            @include font-brand;

            > span {
              color: $font-brand;
            }
          }
        }

        > footer {
          height: 100%;
          font-size: $small;
          text-align: right;
          width: 75%;

          > ul {

            > li {
              display: inline-block;
              min-height: 34px;
              padding: 0 10px;

              > a,
              > ul > li > a {
                margin-left: 16px;

                &.primary {
                  font-weight: bold;
                }
              }

              &.sub-menu {

                > ul {
                  position: relative;
                  
                  > li {

                    > ul {
                      background-color: $background-primary;
                      border-left: 1px solid $border-gray;
                      border-top: 1px solid $border-gray;
                      display: none;
                      position: absolute;
                      top: 34px;
                      width: 200px;

                      @include header-shadow;

                      > li {
                        border-bottom: 1px solid $border-gray;
                        padding: 12px;
                        text-align: left;

                        &:last-child {
                          border-bottom: none;
                        }
                      }
                    }
                  }
                }

                &:hover {
                  text-decoration: underline $border-brand;

                  > ul > li > ul {
                    display: block;

                    &:hover {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
