@import "mixins";

body {
  
  &.sixmk {

    > div.site-header {
      background-color: $background-primary;
      height: $header-height;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: $z-highest;

      @include header-shadow;

      > section {
        height: 100%;
        margin: 0 auto;

        @include site-width;

        > * {
          display: inline-block;
          height: 100%;
          vertical-align: top;
        }

        > header {
          font-size: $largest;
          height: calc(100% - 15px);
          padding: 15px 0 0 15px;
          width: 20%;

          > a {
            color: $font-black;
            text-decoration: none;

            @include font-brand;

            > span {
              color: $font-brand;
            }
          }
        }

        > footer {
          font-size: $small;
          height: calc(100% - 17px);
          padding-top: 17px;
          text-align: right;
          width: 75%;

          > ul {
            height: 100%;

            > li {
              display: inline-block;
              height: 100%;
              padding: 0 10px;

              > a,
              > ul > li > a {
                margin-left: 16px;

                &.primary {
                  font-weight: bold;
                }
              }

              &.sub-menu {

                > ul {
                  position: relative;
                  
                  > li {

                    > ul {
                      background-color: $background-primary;
                      border-left: 1px solid $border-gray;
                      border-top: 1px solid $border-gray;
                      display: none;
                      position: absolute;
                      top: 34px;
                      width: 200px;

                      @include header-shadow;

                      > li {
                        border-bottom: 1px solid $border-gray;
                        padding: 12px;
                        text-align: left;

                        &:last-child {
                          border-bottom: none;
                        }
                      }
                    }
                  }
                }

                &:hover {
                  text-decoration: underline $border-brand;

                  > ul > li > ul {
                    display: block;

                    &:hover {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // a few overrides for small screens
    // (mobile second!??!?!! blasphemy!)

    @media (max-width: 630px) {

      > div.site-header > section {

        > header {
          font-size: $small;
        }

        > footer {
          font-size: $smallest;
          width: 70%;

          > ul > li {
            padding: 0 4px;

            > a {
              margin-left: 0;

              span.optional-text {
                display: none;
              }
            }
          }
        }  
      }
    }
  }
}
