@import "mixins";

body {
  
  &.sixmk {

    > div.site-footer {
      background-color: $background-tertiary;
      border-top: 1px solid $border-gray;
      color: $font-white;
      min-height: 100px;
      text-align: center;
      width: 100%;
      z-index: $z-highest;

      a {
        color: $font-white;
      }

      > ul {
        margin: 0 auto;
        padding-top: 42px;

        > li {
          border-right: 1px solid $border-brand;
          display: inline-block;
          padding: 0 8px;

          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
