<% content_for(:class) { "welcome election-stickers" } %>

<div>

  <h1>
    a sticker for either side
  </h1>

  <ul>

    <%# Left side %>
    <li>
      <section>
        <div>
          <%= image_tag 'popVote.jpg' %>
          <header>
            Majority Math - 
            <span>
              $4
            </span>
          </header>
          <p>
            On the left we have the fact that 64 million votes is indeed more than 62 million votes.
          </p>
        </div>
        <ul>
          <li>
            this sticker is
          </li>
          <li>
            3" x 11.5"
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </li>
          <li>
            high quality & water-resistant vinyl
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </li>
          <li>
            UV ink for even more durability
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </li>
          <li>
            great for car bumpers
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </li>
          <li>
            great for car windows
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </li>
          <li>
            great for <a href="/products/1-Web-Tablet-Mobile-Responsive-Design-Sketchbook">sketchbooks</a>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </li>
        </ul>
        <footer>
          <div>
            $4 includes shipping and taxes!
          </div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="Z2VP3UVETPJ6N">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </footer>
      </section>
    </li>

    <%# Right side %>
    <li>
      <section>
        <div>
          <%= image_tag 'electoralVote.jpg' %>
          <header>
            <span>
              $4
            </span>
            - Electoral Math
          </header>
          <p>
            On the right we have the fact that 306 delegate votes is indeed more than the required 270 delegate votes.
          </p>
        </div>
        <ul>
          <li>
            this sticker is
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            3" x 11.5"
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            high quality & water-resistant vinyl
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            UV ink for even more durability
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            great for car bumpers
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            great for car windows
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            great for <a href="/products/1-Web-Tablet-Mobile-Responsive-Design-Sketchbook">sketchbooks</a>
          </li>
        </ul>
        <footer>
          <div>
            $4 includes shipping and taxes!
          </div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="Z2VP3UVETPJ6N">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </footer>
      </section>
    </li>

  </ul>


  <section>
    If you'd like to bring one of your ideas to life as a sticker you can <a ng-href="{{ navLinkFor('schedule') }}" scroll-to="schedule">schedule an appointment</a> today!
  </section>


</div>
