<% content_for(:class) { "welcome majority-math-purchased" } %>

<div>

  <h1>
    a mathematically correct choice
  </h1>

  <section>
    <%= image_tag 'popVote.jpg' %>
    <header>
      Thank you for supporting the "Majority Math"!
    </header>
    <p>
      We know you'll love sharing the fact that 64 million votes is indeed more than 62 million votes with this high quality & water-resistant vinyl sticker.
    </p>
    <p>
      This sleek and simple design will drive home the truth of the "Majority Math", while looking stylish and timeless. We are thankful for your awesomeness and appreciation of good design. Share a photo of your sticker on your favorite social platforms with the hashtag #MajorityMath so we can see it in action!
    </p>
    <p>
      You'll receive an email shortly with purchase and shipping information.
    </p>
  </section>

  <p>
    If you'd like to bring one of your ideas to life as a sticker you can <a ng-href="{{ navLinkFor('schedule') }}" scroll-to="schedule">schedule an appointment</a> today!
  </p>


</div>
