<div class="site-header">

  <section>
    
    <header>
      <a href="/">
        six<span>mk</span>
      </a>
    </header>

    <footer>
      <a href="#">SCHEDULE A CONSULATATION</a>
      <a href="#">CONTACT</a>
    </footer>

  </section>

</div>
