<div class="site-footer">

  <section>

    <%# site links %>
    <header>
      Schedule an appointment
    </header>

    <%# code link %>
    <footer>
      <a href="https://github.com/lrcrews/warofclans.com" target="_blank">
        https://github.com/sixemkay/sixmk
      </a>
    </footer>

  </section>

</div>
