<div class="site-footer">

  <ul>
    <li>
      <i class="fa fa-copyright"></i> <a href="https://github.com/sixemkay/sixmk" target="_blank">sixmk (view on github)</a> 
    </li>
    <li>
      <i class="fa fa-mobile"></i> <a href="tel:9168774665">(916) 877-4665</a>
    </li>
    <li>
      <i class="fa fa-envelope-o"></i> <a href="mailto:sixemkay@gmail.com">info@sixmk.com</a>
    </li>
    <li>
      <i class="fa fa-calendar-check-o"></i> 
      <a ng-href="{{ navLinkFor('schedule') }}" scroll-to="schedule">schedule</a>
    </li>
  </ul>

</div>
