<div class="site-header">

  <section>
    
    <header>
      <a href="/">
        six<span>mk</span>
      </a>
    </header>

    <footer>
      
      <ul>
        <li class="sub-menu" ng-mouseover="showAboutMenu()" ng-mouseleave="hideAboutMenu()">
          <ul>
            <li>
              <a ng-href="{{ navLinkFor('about') }}" scroll-to="about">ABOUT</a>
            </li>
            <li>
              <ul ng-show="aboutMenuVisible == true">
                <li>
                  <a ng-href="{{ navLinkFor('how-it-works') }}" 
                     scroll-to="how-it-works"
                     ng-click="hideAboutMenu()">
                    how it works
                  </a>
                </li>
                <li>
                  <a href="/testimonials">testimonials</a>
                </li>
                <li>
                  <a href="/portfolio">portfolio</a>
                </li>
                <li>
                  <a href="/services">services</a>
                </li>
                <li>
                  <a href="/invitations">invitations</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="/contact">CONTACT</a>
        </li>
        <li>
          <a class="primary" href="/contact">
            SCHEDULE <span class="optional-text">A CONSULTATION</span>
          </a>
        </li>
      </ul>

    </footer>

  </section>

</div>
