<div class="site-header">

  <section>
    
    <header>
      <a href="/">
        six<span>mk</span>
      </a>
    </header>

    <footer>
      
      <ul>
        <li class="sub-menu">
          <ul>
            <li>
              <a ng-href="{{ navLinkFor('about') }}" scroll-to="about">ABOUT</a>
            </li>
            <li id="header-sub-menu">
              <ul>
                <li>
                  <a ng-href="{{ navLinkFor('how-it-works') }}" scroll-to="how-it-works">how it works</a>
                </li>
                <li>
                  <a ng-href="{{ navLinkFor('testimonials') }}" scroll-to="testimonials">testimonials</a>
                </li>
                <li>
                  <a ng-href="{{ navLinkFor('portfolio') }}" scroll-to="portfolio">portfolio</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="/contact">CONTACT</a>
        </li>
        <li>
          <a class="primary" ng-href="{{ navLinkFor('schedule') }}" scroll-to="schedule">SCHEDULE <span class="optional-text">A CONSULATATION</span></a>
        </li>
      </ul>

    </footer>

  </section>

</div>
