<div class="site-header">

  <section>
    
    <header>
      <a href="/">
        six<span>mk</span>
      </a>
    </header>

    <footer>
      <ul>
        <li class="sub-menu">
          <ul>
            <li>
              <a href="#about">ABOUT</a>
            </li>
            <li>
              <ul>
                <li>
                  <a href="#testimonials">testimonials</a>
                </li>
                <li>
                  <a href="#portfolio">portfolio</a>
                </li>
                <li>
                  <a href="#">design services bundles</a>
                </li>
                <li>
                  <a href="#">elite subscription packages</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">CONTACT</a>
        </li>
        <li>
          <a class="primary" href="#schedule">SCHEDULE A CONSULATATION</a>
        </li>
      </ul>
    </footer>

  </section>

</div>
