<% content_for(:class) { "welcome index" } %>

<div>

  <%# scrolling hero section %>
  <ul>
    <li>
      <section>
        <div>
            Thanks for 10 amazing years
        </div>
        <div>
        🎉 🤗 🎉
        </div>
      </section>
    </li>
  </ul>

  <%# The rest of it %>
  <section>

    <%# process %>
    <section class="process">
      <header>
        <section>
          <header>
            sixMK is moving on
          </header>
          <footer>
            It was wonderful to work with all of you!
          </footer>
        </section>
      </header>
      <ul>
        <li>
          <section>
            <header>
              New Venture
            </header>
            We here at sixMK are moving onto a new venture: <a class="primary" href="https://sacrotees.com/">SACROtees</a>
          </section>
        </li>
        <li>
          <section>
            <header>
              For those looking for new sixMK work...
            </header>
            We are sorry to inform you that we no longer provide design and print services, but wish you luck with your project!
          </section>
        </li>
        <li>
          <section>
            <header>
              For those with previous sixMK work...
            </header>
            We are still available via email to provide you with any resources you may need from previous projects, so don't hestitate to reach out if this is the case!
          </section>
        </li>
      </ul>
    </section>

    <%# how it works %>
    <section id="how-it-works" class="how-it-works">
      <header>
        WHAT IS SACROTEES
      </header>
      <ul>
        <%# What is sixmk? %>
        <li>
          <section>
            <header>
              What is SACROtees?
            </header>
            <ul>
              <li class="emphazie">
                An awesome apparel store with an urban, geeky, Sacramento slant!
              </li>
              <li>
                We encourage you to check out our latest venture, <a class="primary" href="https://sacrotees.com/">SACROtees</a>, and offer you a gift code to use that celebrates the 10 wonderful years with 10% off!:
              </li>
              <li class="bold">
                6MKFAM
              </li>
              <li>
                You'll find great shirts and skirts printed with designs served fresh out of SacTown!
              </li>
              <li>
                <a href="https://sacrotees.com/">Check it out today</a>!
              </li>
            </ul>
          </section>
        </li>
      </ul>
    </section>

    <%# about section %>
    <section id="about" class="about">
      
    </section>

  </section>

</div>
