<% content_for(:class) { "welcome index" } %>

<%# paralax hero section %>
<%# portfolio images %>
<div>
  a
</div>

<%# The rest of it %>
<section>

  <%# about section %>
  <section id="about" class="about">
    b
  </section>

  <%# testimonials section %>
  <section id="testimonials" class="testimonials">
    c
  </section>

  <%# portfolio section %>
  <section id="portfolio" class="portfolio">
    d
  </section>

  <%# schedule an apointment %>
  <section id="schedule" class="schedule">
    e
  </section>

</section>
