<% content_for(:class) { "welcome index" } %>

<%# scrolling hero section %>
<%# TODO: that, mvp is just an image %>
<ul>
  <li>
    <%= image_tag "servicesSliderIMG.gif", alt: "We have the services you need!" %>
  </li>
</ul>

<%# The rest of it %>
<section>

  <%# about section %>
  <section id="about" class="about">
    b
  </section>

  <%# testimonials section %>
  <section id="testimonials" class="testimonials">
    c
  </section>

  <%# portfolio section %>
  <section id="portfolio" class="portfolio">
    d
  </section>

  <%# schedule an apointment %>
  <section id="schedule" class="schedule">
    e
  </section>

</section>
