<% content_for(:class) { "welcome index" } %>
<section>

  <header>
    This is just a bunch of text (crazy, right?)
  </header>

  <section>
    Vivamus nizzle mauris egizzle nisi shizzle my nizzle crocodizzle pretium. Mofo you son of a bizzle amet lacizzle. Dope eu nizzle eget lacus sheezy feugiat. Praesent suscipizzle viverra things. Curabitizzle i'm in the shizzle arcu. Vestibulizzle enizzle dizzle, auctizzle crackalackin, congue eu, dignissim dawg, libero. Shizznit vitae pede non eros posuere black. Quisque gangster tortizzle, doggy pulvinizzle, auctor a, daahng dawg uhuh ... yih! amizzle, erizzle. Cool izzle dui. Things risus away, yippiyo consectetizzle, sollicitudin izzle, consequizzle imperdizzle, turpis. Uhuh ... yih! a ipsum eu mi rutrum vehicula. Pizzle fizzle mofo ipsizzle. Fizzle gangster morbi tristique senectus izzle we gonna chung izzle malesuada fames ac turpizzle egestas. In that's the shizzle. Curabitur break it down. Ut shiz felizzle, fo shizzle gangster, suscipizzle i saw beyonces tizzles and my pizzle went crizzle, shizzle my nizzle crocodizzle pulvinizzle, black. Nulla sagittis shut the shizzle up break yo neck, yall.
  </section>

</section>
