<% content_for(:class) { "welcome portfolio" } %>

<div ng-controller="PortfolioController" ng-init="initialize()">

  <section>

    <header>
      Some graphic examples...
    </header>

    <%# SactoMoFo %>
    <section class="sactomofo">
      <header>
        <a href="http://sactomofo.com" target="_blank">Sacto<br />MoFo</a>
      </header>
      <footer>
        Into foodtrucks in the Sacramento area? Well then, you've certainly heard of SactoMoFo, and if you haven't <a href="http://sactomofo.com" target="_blank">you should check them out!</a> You can check out some delicous food shots and great event flyers on <a href="https://www.instagram.com/sactomofo/" target="_blank">their instagram</a> as well. Many of those flyers are by us here at sixMK.
      </footer>
      <ul>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/QqIWK"><a href="//imgur.com/QqIWK"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/JfIEF"><a href="//imgur.com/JfIEF"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/fie2x"><a href="//imgur.com/fie2x"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/GfuM0"><a href="//imgur.com/GfuM0"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/uNiDw"><a href="//imgur.com/uNiDw"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
      </ul>
      <div>
      </div>
    </section>

    <%# 2 Women and a Chair %>
    <section class="two-women-and-a-chair">
      <footer>
        Furniture really makes the room... while simultaneously breaking the bank. But that's not the case at <a href="http://modernwow.com" target="_blank">2 Women & A Chair</a>! Visit that site if you want beautiful modern pieces that really "wow" with a price tag that makes you exclaim "yes!". You can also appreciate the graphic design work we do for them.
      </footer>
      <header>
        <a href="http://modernwow.com" target="_blank">2 Women<br />& A Chair</a>
      </header>
      <ul>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/Ac0vX"><a href="//imgur.com/Ac0vX"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/9ur1m"><a href="//imgur.com/9ur1m"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/loD5Q"><a href="//imgur.com/loD5Q"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/HaC7K"><a href="//imgur.com/HaC7K"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/0gJMY"><a href="//imgur.com/0gJMY"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
      </ul>
      <div>
      </div>
    </section>

    <%# Rivers Edge Cafe %>
    <section class="rivers-edge-cafe">
      <header>
        <a href="http://www.riversedgecafeonline.com" target="_blank">Rivers<br />Edge<br />Cafe</a>
      </header>
      <footer>
        Rivers Edge Cafe provides casual neighborhood friendliness with exquisite American cuisine open for breakfast, lunch and dinner. With an extensive menu, craft beers and an excellent wine list, Rivers Edge Cafe is a popular choice among those who consider themselves true foodies. We print their menus, table toppers, business cards, and more!
      </footer>
      <ul>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/OnwqB"><a href="//imgur.com/OnwqB"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/ULyM9"><a href="//imgur.com/ULyM9"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/cMa08"><a href="//imgur.com/cMa08"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/cWInS"><a href="//imgur.com/cWInS"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
        <li>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/joXbQ"><a href="//imgur.com/joXbQ"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </li>
      </ul>
    </section>

    <%# Go on, schedule a consultation %>
    <footer>
      <a href="/#/?target=schedule">Schedule a FREE consultation with us online now!</a>
    </footer>

  </section>

</div>
