<% content_for(:class) { "welcome services" } %>

<div ng-controller="ServicesController" ng-init="initialize()">

  <section>

    <header>
      We don't do it all, we just do it well...
    </header>

    <%# Flyers, Cards, Weddings %>
    <section class="random">
      <header>
        Flyers &<br />Cards &<br />Weddings
      </header>
      <footer>
        We've designed and printed flyers, postcards, brochures, wedding invitations, and business cards galore! We take pride in understanding what you desire so when you see the result you can't help but smile.
      </footer>
    </section>

    <%# Go on, schedule a consultation %>
    <footer>
      <a href="/#/?target=schedule">Schedule a FREE consultation with us online now!</a>
    </footer>

</div>
