<% content_for(:class) { "welcome special-events" } %>

<div ng-controller="SpecialEventsController" ng-init="initialize()">

  <%# scrolling hero section %>
  <ul>
    <li>
      <section>
        <div class="slideshow">
          <div>
            <%# magic %>
          </div>
        </div>
      </section>
    </li>
  </ul>

  <%# The rest of it %>
  <section>

    <section class="intro">
      <ul>
        <li>
          <section>
            <header>
              Design for Events
            </header>
            <ul>
              <li class="emphazie">
                We offer template invitations in all styles, including pocket invitations with inserts. We can also do custom design work for couples who want something unique.
              </li>
              <li>
                We start by discussing your ideas, likes, dislikes, and budget while you look through our paper and invitation sample kits. Together we will determine what the best type of invitation is for your wedding and you will receive detailed pricing information.
              </li>
              <li class="images">
                <blockquote class="imgur-embed-pub" lang="en" data-id="R0Hjz9T"><a href="//imgur.com/R0Hjz9T"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="ImhwlGh"><a href="//imgur.com/ImhwlGh"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="Z863SdS"><a href="//imgur.com/Z863SdS"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="ixlZgpx"><a href="//imgur.com/ixlZgpx"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
              </li>
              <li>
                <a href="#" scroll-to="schedule">Contact us today for your no-pressure consult!</a>
              </li>
            </ul>
          </section>
        </li>
      </ul>
    </section>

    <section class="weddings">
      <header>
        <section>
          <header>
            Design Services for Weddings
          </header>
        </section>
      </header>
      <ul>
        <li>
          <section>
            <header>
              Template Invitations
            </header>
            Choose a design from our portfolio of templates and we will customize it with your information and colors. Single card invitations and invitation suites are available. Great way to create elegant personalized invitations without paying a design fee.
            <ul>
              <li class="images">
                <blockquote class="imgur-embed-pub" lang="en" data-id="kIuJEQY"><a href="//imgur.com/kIuJEQY"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="sEoDRGt"><a href="//imgur.com/sEoDRGt"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="TowT42l"><a href="//imgur.com/TowT42l"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="VlHaMEU"><a href="//imgur.com/VlHaMEU"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
              </li>
            </ul>
          </section>
        </li>
        <li>
          <section>
            <header>
              Custom Invitations
            </header>
            Looking for something unique? Have a theme in mind and need invitations to match? We will help you create the perfect invitation for your event, wether it be movie tickets for a “red-carpet” event or traditional invites with a twist.
            <ul>
              <li class="images">
                <blockquote class="imgur-embed-pub" lang="en" data-id="zgNKQFA"><a href="//imgur.com/zgNKQFA"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="JB97e3y"><a href="//imgur.com/JB97e3y"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="DR5Mf4V"><a href="//imgur.com/DR5Mf4V"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="7cDozXS"><a href="//imgur.com/7cDozXS"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
              </li>
            </ul>
          </section>
        </li>
        <li>
          <section>
            <header>
              Envelopes, Embellishments, and Fine Paper
            </header>
            We have over 100 hues of fine paper to choose from including textured papers, matte, metallic, translucent and even glitter paper (does not flake off, coolest new thing in paper). Preview some of our selection on Pinterest.
            <ul>
              <li class="images">
                <blockquote class="imgur-embed-pub" lang="en" data-id="mTcKbxr"><a href="//imgur.com/mTcKbxr"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="NJ1et8t"><a href="//imgur.com/NJ1et8t"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="OGk311T"><a href="//imgur.com/OGk311T"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

                <blockquote class="imgur-embed-pub" lang="en" data-id="D46DUht"><a href="//imgur.com/D46DUht"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
              </li>
            </ul>
          </section>
        </li>
      </ul>
    </section>

    <section class="event-examples">
      <header>
        Events and Items
      </header>
      <ul>
        <li>
          Wedding
          <ul>
            <li>
              Engagement Announcements
            </li>
            <li>
              Save the Dates
            </li>
            <li>
              Invitations (flat or pocket cards)
            </li>
            <li>
              Menus and Table Numbers
            </li>
            <li>
              Seating Charts and Escort Cards
            </li>
            <li>
              Programs
            </li>
            <li>
              Comprehensive Design
            </li>
          </ul>
        </li>
        <li>
          Birthday
          <ul>
            <li>
              Unique and memorable invitations
            </li>
            <li>
              Milestones
            </li>
            <li>
              Sweet 16
            </li>
            <li>
              Quinceanera
            </li>
          </ul>
        </li>
        <li>
          Theme Parties
          <ul>
            <li>
              Luau
            </li>
            <li>
              Gatsby
            </li>
            <li>
              White Diamonds
            </li>
            <li>
              Hollywood/Red Carpet
            </li>
            <li>
              Rock Stars
            </li>
            <li>
              Decades
            </li>
          </ul>
        </li>
      </ul>
      <footer>
        ...and for <span>Holidays</span>, <span>Baby Announcements</span>, <span>Graduations</span>, and more!
      </footer>
    </section>

    <section class="learn-more">
      <ul>
        <li>
          <section>
            <header>
              When should I start?
            </header>
            It’s never too early to start talking to us about your event. Even if you just got engaged, we can help you with Engagement Announcements and Save the Dates if sending, and planning the broader details like style, color, and budget.
          </section>
        </li>
        <li>
          <section>
            <header>
              Can I see samples?
            </header>
            <ul>
              <li>
                Browse our past projects <a href="https://imgur.com/a/Ebcuf" target="_blank">here</a> or request a sample packet
              </li>
              <li>
                You can reach out via email to <a href="mailto:sixemkay@gmail.com">sixemkay@gmail.com</a> or schedule a consulation below.
              </li>
            </ul>
          </section>
        </li>
      </ul>
    </section>

    <section id="schedule" class="schedule">
      <header>
        SCHEDULE A CONSULTATION
      </header>
      <div>
        <iframe src="https://sixmk.youcanbook.me/?noframe=true&skipHeaderFooter=true" style="width:100%;height:380px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </section>

  </section>

</div>
