<% content_for(:class) { "welcome testimonials" } %>

<div ng-controller="TestimonialsController" ng-init="initialize()">

  <section>

    <%# YELP! %>
    <section class="yelp">
      <ul>
        <li>
          <section>
            <header>
              For Barbara S. we were magical
            </header>
            There are no accidents. Chantie and I met while I was walking around my new neighborhood. I knew I needed new business cards and "Poof" enter Sixmk Design + Print. I already had my logo, but my cards were dated -- they needed new life and color. Presto!  Chantie to the rescue.
          </section>
        </li>
        <li>
          <section>
            <header>
              Dave H. get's his "phenomenal graphic art work" from us
            </header>
            I am so satisfied with SixMK.  They have provided excellent quality printing on various jobs for me, and even re-printed when they noticed the colors weren't right.  Great customer service, and phenomenal graphic art work in designing and focused messaging for my marketing efforts.
          </section>
        </li>
      </ul>
      <footer>
        <a href="http://www.yelp.com/biz/sixmk-design-print-sacramento" target="_blank">
          see more YELP reviews
        </a>
      </footer>
    </section>

    <%# Google %>
    <section class="google">
      <ul>
        <li>
          <section>
            <header>
              Alice Welborn truly appreciates our creative insights
            </header>
            Chantie is creative, innovative and a pleasure to work with. We have an ongoing work relationship and she not only does the graphic design work incredibly creatively but also the thinking and planning to help me be able to see more creatively. I so appreciate her insights into ideas and design that I have no clue about as I am busy doing the everyday "grunt" work and I don't feel particularly creative most days. Thank God I have Chantie!!
          </section>
        </li>
        <li>
          <section>
            <header>
              A photo of street-art became a professional logo for Ryan Crews
            </header>
            Chantie at sixMK did an amazing logo design for me, turning a photograph I took of graffiti into a true piece of art. I now have that professional look everyone needs while keeping the street-art theme I love. Wonderful to work with all around, you should totally give sixMK a call!
          </section>
        </li>
      </ul>
      <footer>
        <a href="https://plus.google.com/109827397250137972613/about?gl=US&hl=en-US&review=1" target="_blank">
          see more Google+ reviews
        </a>
      </footer>
    </section>

    <footer>
      <a href="/#shcedule">Schedule a FREE consultation with us online now!</a>
    </footer>

  </section>

</div>
