<% content_for(:class) { "invitations index" } %>

<section>

  <header>
    <h1>
      Invitations
    </h1>
    <p>
      Please allow a minimum of 6 weeks time for the design, printing, and assembly process.
    </p>
  </header>

  <ul>
    <li>
      <div>
        What to expect
      </div>
    </li>
    <li>
      <section>
        <header>
          1
        </header>
        <footer>
          <section>
            <header>
              Initial Consultation
            </header>
            <footer>
              Client and Designer, In-person, 60 minutes
            </footer>
            <div>
              View samples of invitations in a dozen different styles.
            </div>
            <div>
              See swatches of over 100 card stocks.
            </div>
            <div>
              Leave with a completed “card recipe” form.
            </div>
          </section>
        </footer>
      </section>
    </li>
    <li>
      <section>
        <header>
          2
        </header>
        <footer>
          <section>
            <header>
              Estimate Review
            </header>
            <footer>
              Client, Online
            </footer>
            <div>
              Receive link to estimate via email.
            </div>
            <div>
              Review options and costs then approve or adjust project online.
            </div>
            <div>
              Pay 40% deposit to officially begin project.
            </div>
          </section>
        </footer>
      </section>
    </li>
    <li>
      <section>
        <header>
          3
        </header>
        <footer>
          <section>
            <header>
              Decide on Language
            </header>
            <footer>
              Designer and Client, Online
            </footer>
            <div>
              Designer emails Client suggested wording for card (and inserts) text.
            </div>
            <div>
              Client adjusts language as desired and returns to Designer.
            </div>
          </section>
        </footer>
      </section>
    </li>
    <li>
      <section>
        <header>
          4
        </header>
        <footer>
          <section>
            <header>
              Review Digital Proofs
            </header>
            <footer>
              Client, Online
            </footer>
            <div>
              Client views PDF proof(s) of the invitation and approves design or requests changes.
            </div>
            <div>
              Designer makes adjustments as requested.
            </div>
            <div>
              A hard copy proof can be ordered for an additional fee (*please allow 3 extra weeks).
            </div>
            <div>
              Client gives go-ahead to print.
            </div>
            <div>
              Pay remaining 60% to compllete your order.
            </div>
          </section>
        </footer>
      </section>
    </li>
    <li>
      <section>
        <header>
          5
        </header>
        <footer>
          <section>
            <header>
              Printing and Assembly
            </header>
            <footer>
              Designer, Print shop
            </footer>
            <div>
              Relax while we finish the process!
            </div>
            <div>
              You will recieve your invitations printed and mounted, ready to be stuffed, stampes, and sent.
            </div>
          </section>
        </footer>
      </section>
    </li>
  </ul>

  <footer>
    <a href="/contact">Schedule a FREE consultation with us online now!</a>
  </footer>

</section>
