<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We here at <span style="color: #333;">six</span><span style="color: #DC0062;">mk</span> wanted to thank you for being part of our first five years! We have grown a lot during this time, but our desire to keep providing simple and effective designs and services remains the same. Without you this milestone wouldn't be possible, we are truly greatful =]
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  Along with our thanks we welcome you to visit our <a href="http://www.sixmk.com">new website</a>, built and designed by us for you. We hope you enjoy!
</p>
