<h1 style="color: #333; font-size: 16px; font-weight: normal;">
  Hello <%= @name %>,
</h1>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We here at six<span style="color: #DC0062;">mk</span> wanted to thank you for being part of our first five years! We have grown a lot during this time, but our desire to keep providing simple and effective designs and services remains the same. Without you this milestone wouldn't be possible, we are truly greatful =]
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  Along with our thanks we welcome you to visit our <a href="http://www.sixmk.com">new website</a>, built and designed by us for you. We hope you enjoy!
</p>

<p style="padding-top: 24px; font-size: 14px; color: #666;">
  Thanks,
</p>

<h2 style="color: #5CBBC8; font-size: 16px; font-weight: normal;">
  Chantie and the six<span style="color: #DC0062;">mk</span> team
</h2>
