<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We here at <span style="color: #333; font-family: 'Copse', serif;">six</span><span style="color: #DC0062; font-family: 'Copse', serif;">mk</span> wanted to wish you a great start to the holiday season!
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  If you need any help making your festivities complete with invitations, banners, or any other goodies, then give us a call.
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We can help make your party memorable before anyone has even arrived by creating fantastic high-quality invitations that are sure to wow!
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  <img src="http://i.imgur.com/O9H1rFe.png" />
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  Visit us at <a href="http://www.sixmk.com">sixmk.com</a> to schedule an appoitment today!
</p>
