<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We here at <span style="color: #333; font-family: 'Copse', serif;">six</span><span style="color: #DC0062; font-family: 'Copse', serif;">mk</span> wanted to thank you for your business!
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  If you find yourself needing business cards, flyers, digital assets or ads, or if you have any other design + print needs please don't hesitate to reach out. We would love to continue to help your business be as awesome as it should be =] 
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  Visit us <a href="http://www.sixmk.com">at sixmk.com</a> to see all of our services and to schedule an appoitment.
</p>
