<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We here at <span style="color: #333; font-family: 'Copse', serif;">six</span><span style="color: #DC0062; font-family: 'Copse', serif;">mk</span> wanted to thank you again for your order!
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We received more orders than expected and are running behind. To thank you for your patience we’re adding an extra sticker to your order!
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We expect to have your order shipped soon, at which point you’ll receive a shipment notification.
</p>
