<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  Your order is on its way from  <span style="color: #333; font-family: 'Copse', serif;">six</span><span style="color: #DC0062; font-family: 'Copse', serif;">mk</span> headquarters to you!
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  Your stickers are estimated to arrive on <%= @arrival_day %> 
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  You may also receive an email directly from USPS and/or PayPal, but our email is clearly the best =]
</p>
