<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  Your order is on its way from  <span style="color: #333; font-family: 'Copse', serif;">six</span><span style="color: #DC0062; font-family: 'Copse', serif;">mk</span> headquarters to you!
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  Soon your "<%= @product_name %>" will be arriving, until then you can track its progress here:
</p>

<ul style="list-style: none;">
  <li><a href="<%= @tracking_link %>"><%= @tracking_link %></a></li>
</ul>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  
</p>
