@import "mixins";

html,
body,
button,
input,
select,
textarea {
  font-size: 100%;
  font-weight: normal;
  line-height: 130%;

  @include font-copy;
}

ol,
ul {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
span.link {
  color: $font-link;
  text-decoration: none;

  &:active,
  &:hover {
    color: $font-link-active;
    text-shadow: 1px 1px 1px inset $font-link;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-color: $font-brand;
  }
  
  &:visited {
    color: $font-link;
  }
}

body.sixmk {
  background-color: $background-primary;
  color: $font-black;
  margin: 0;

  > section.page-container {
    margin: 0 auto;
    min-height: 1024px;
    @include site-width;
  }
}
