<% content_for(:class) { "products show" } %>

<div ng-controller="ProductsShowController" ng-init="initialize()">

  <h1>
    {{ product["name"] }}
  </h1>

  <section>
    <header>
      <img ng-src="{{ mainImage['url_square_600'] }}" ng-click="loadImage(mainImage['url_square_1200'])" />
      <ul>
        <li ng-repeat="image in images" ng-mouseenter="showImage(image)">
          <img ng-src="{{ image['url_square_600'] }}" />
        </li>
      </ul>
    </header>
    <footer>
      <section ng-bind-html="productDescription">
      </section>
      <p>
        {{ product["price"] | currency }} (+shipping), buy now through PayPal or Shopify!
      </p>
      

      <%# PayPal %>

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="Z2VP3UVETPJ6N">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>


      <%# Shopify %>

      <div id='product-component-ca1d42091e1'></div>
      <script type="text/javascript">
      /*<![CDATA[*/

      (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
          if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
          } else {
            loadScript();
          }
        } else {
          loadScript();
        }

        function loadScript() {
          var script = document.createElement('script');
          script.async = true;
          script.src = scriptURL;
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
          script.onload = ShopifyBuyInit;
        }

        function ShopifyBuyInit() {
          var client = ShopifyBuy.buildClient({
            domain: 'sixmk-design-print.myshopify.com',
            apiKey: '1bdbc08b2b9a8623cfee4c8c4bfc7685',
            appId: '6',
          });

          ShopifyBuy.UI.onReady(client).then(function (ui) {
            ui.createComponent('product', {
              id: [9668495818],
              node: document.getElementById('product-component-ca1d42091e1'),
              moneyFormat: '%24%7B%7Bamount%7D%7D',
              options: {
        "product": {
          "buttonDestination": "checkout",
          "variantId": "all",
          "contents": {
            "variantTitle": false,
            "description": false,
            "buttonWithQuantity": false,
            "quantity": false
          },
          "text": {
            "button": "BUY NOW"
          },
          "styles": {
            "product": {
              "@media (min-width: 601px)": {
                "max-width": "calc(25% - 20px)",
                "margin-left": "20px",
                "margin-bottom": "50px"
              }
            },
            "button": {
              "background-color": "#dc0062",
              ":hover": {
                "background-color": "#c60058"
              },
              ":focus": {
                "background-color": "#c60058"
              }
            }
          }
        },
        "cart": {
          "contents": {
            "button": true
          },
          "styles": {
            "button": {
              "background-color": "#dc0062",
              ":hover": {
                "background-color": "#c60058"
              },
              ":focus": {
                "background-color": "#c60058"
              }
            },
            "footer": {
              "background-color": "#ffffff"
            }
          }
        },
        "modalProduct": {
          "contents": {
            "variantTitle": false,
            "buttonWithQuantity": true,
            "button": false,
            "quantity": false
          },
          "styles": {
            "product": {
              "@media (min-width: 601px)": {
                "max-width": "100%",
                "margin-left": "0px",
                "margin-bottom": "0px"
              }
            },
            "button": {
              "background-color": "#dc0062",
              ":hover": {
                "background-color": "#c60058"
              },
              ":focus": {
                "background-color": "#c60058"
              }
            }
          }
        },
        "toggle": {
          "styles": {
            "toggle": {
              "background-color": "#dc0062",
              ":hover": {
                "background-color": "#c60058"
              },
              ":focus": {
                "background-color": "#c60058"
              }
            }
          }
        },
        "productSet": {
          "styles": {
            "products": {
              "@media (min-width: 601px)": {
                "margin-left": "-20px"
              }
            }
          }
        }
      }
            });
          });
        }
      })();
      /*]]>*/
      </script>
    </footer>
  </section>

</div>
